.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

/rag_project/database
/knowledgebase
/rag_project/rag_practice.ipynb
/rag_project/RAG.ipynb
/rag_project/simpleRAG.ipynb
/rag_project/database/Nigerian Palatable meals.csv
